Se han encontrado <%= @results.size %> resultados
<% @results.each do |elemento| %>
  <h3><%= I18n.t('titulo_obra').capitalize() %>: <%= elemento.titulo_obra %></h3>
  <h4><%= I18n.t('ubicacion').capitalize() %>: <%= elemento.ubicacion %></h4>
  <% @searchable_attributes.reject{|sa| sa == 'titulo_obra'}.each do |attr| %>
    <%= I18n.t(attr).capitalize() %>: <%= elemento.send(attr) %><br>
  <% end %>
  <br>
  <br>
<% end %>
