Se han encontrado <%= @results.size %> resultados
<% @results.each do |elemento| %>
  <div style="border: 1px solid black">
    <h3><b><%= I18n.t('titulo_obra').capitalize() %>:</b> <%= elemento.titulo_obra %></h3>
    <h4><b><%= I18n.t('ubicacion').capitalize() %>:</b> <%= elemento.ubicacion %></h4>
    <% @searchable_attributes.reject{|sa| sa == 'titulo_obra'}.each do |attr| %>
      <b><%= I18n.t(attr).capitalize() %>:</b> <%= elemento.send(attr) %><br>
    <% end %>
  </div>
<% end %>
